.note{
    border-radius: 8px;
    background: #F4F4F4;  
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4px;
    padding: 24px 8px 7px 34px;
}

.note__checkbox img{
    display: block;
}
.note__title{
    width: 428px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    word-wrap: break-word;
}
.note__title.active{
    text-decoration: line-through;
}
.note__delete{
    border: none;
    outline: none;
    background: transparent;
}
.note__delete img{
    display: block;
}