.calendar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}
.calendar__date{
    display: flex;
    align-items: center;
    gap: 7px;
}
.calendar__date-day{
    font-size: 48px;
    font-weight: 400;
}
.calendar__info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.calendar__date-month,
.calendar__date-year{
    font-size: 15px;
    font-weight: 400;
}
.calendar__weekday{
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 580px) {
    .calendar{
        flex-direction: column;
        gap: 5px;
    }
    .calendar__weekday{
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .calendar__weekday{
        font-size: 18px;
    }
}
